body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    min-height: 1080px; /*Note: I could use flex-basis: 1080px as well*/

}

article{  
    /* flex: 5 0 60%; Shorthand for code below| [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */
    background: lightcoral;
    flex-basis: 60%;
    flex-grow: 5; /*Article will grow 5x faster than nav and aside*/
}

nav{
    background: rgb(104, 202, 104);
    order: -1;
    flex-basis: 20%;
    flex-grow: 1;
}

aside{
    flex-basis: 20%;
    background:lightgreen;
    flex-grow: 1;
}

header, footer{
    background: lightblue;
    flex-basis: 100px;
}

@media screen and (max-width: 640px){
    main{
        flex-direction: column;
        flex-grow: 1;
    }
    nav{
        order: 0;
    }
}