body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display:flex;
    min-height:  800px; /*Note: I could use flex-basis: 800px as well*/
}

article{
    flex-basis: 60%;
    background: lightcoral;
}

nav{
    flex-basis: 20%;
    background: rgb(104, 202, 104);
    order: -1;
}

aside{
    flex-basis: 20%;
    background:lightgreen;
}

header, footer{
    background: lightblue;
    flex-basis: 100px;
}
