p{
    width: 150px;
    height: 150px;
    color: #ecf0f1;
    background-color: #1acc8c;
    border: 2px solid #1c2e40;  /*Black line borders around box*/
}
.transformed{
    background-color: #3697db;
    transform: scale(2) translateX(300px) rotate(5deg);
    transform-origin: top right;
}
.transition{
    background-color: #cc3ccc;
    transform: translateY(100px);
}
.transition:hover{
    transform: scale(2) translateX(100px);
    transform-origin: top right;
    transition-duration: 1s;
    transition-timing-function: linear;
    border-radius: 30px;
    transition-delay: 0.5s;
}